#footer { 
  background: #111;
  color: #fff;
  padding: 2em;
  @include primary-font;
  .footer-links { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    a { 
      color: #fff;
      &:hover { color: palevioletred; }
      @include secondary-font;
      font-size: 12px;

    }
  }
}