#tv #schedule { 
  font-size: 1.6em;
}

#schedule {
    background: none;
  @include secondary-font;
  .teacher-img img {
    max-width: 40px;
  }
}
.schedule-heading { text-align: center; }
.popover-body { padding: 0; }