$body-bg: #ccc;
$pure-black: #111;
$pure-blue: #767F84;
$pure-red: #DC9D9D;

$pure-reception: #E4C9BE;
$pure-womens: #B6ABB1;
$pure-mens: #A3AEB2;
$pure-mens-2: #BEBEE4;
$pure-seating: #E9DAD5;

$pure-red: $pure-reception;


